body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff0000;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #dbc2c2;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 18%; /* 18% para que entren 5 tarjetas por fila */
    box-sizing: border-box;
    text-align: center;
}

.card img {
    width: 100px;
}

/* Media Queries para la adaptabilidad */
@media (max-width: 1200px) {
    .card {
        width: 22%; /* Cambia a 4 tarjetas por fila */
    }
}

@media (max-width: 992px) {
    .card {
        width: 30%; /* Cambia a 3 tarjetas por fila */
    }
}

@media (max-width: 768px) {
    .card {
        width: 45%; /* Cambia a 2 tarjetas por fila */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* 1 tarjeta por fila en pantallas pequeñas */
        margin: 10px 0;
    }
}

/* Estilo para el Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
}

.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.social-links li {
    display: inline;
}

.social-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links li a:hover {
    color: #007BFF;
}

/* Media Queries para el footer */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        margin-top: 15px;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .footer-container {
        padding: 10px;
    }

    .social-links {
        gap: 15px;
    }

    .social-links li a {
        font-size: 14px;
    }
}